h1 {
	color: #4b2e83;
	border-radius: 30px;
}
div {
    border-style: dotted;
    font-size: 150%;
    float: left;
}
.image-name {
	width: 50px;
  	height: 50px;
 	margin: 5px;
	border-style: solid;
    border: 3px solid gold;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-340%, 480%);
}